body{
    background-color: rgb(138, 194, 250);
}

header{
    background-color: rgb(187, 214, 218);
    height: 80px;
    padding-left: 30px;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

header h3{
    font-size: 40px;
    font-style: oblique;
    color: aliceblue;
    text-align: center;
    display: flex;
}
header ul{
    list-style: none;
}